.header {
    max-width: 1184px;
    min-width: 320px;
    padding: 28px 0 56px 0;
    padding-top: 28px;
    padding-bottom: 56px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    color: #ffffff;
}
@media screen and (max-width: 1024px)  {
    .header {
        max-width: 928px;
        padding-bottom: 48px;
       
    }
}
@media screen and (max-width: 768px)  {
    .header {
        max-width: 720px;
        padding-bottom: 48px;
       
    }
}

@media all and (max-width: 512px) {
    .header {
        max-width: 288px;
        padding-top: 16px;
    }
}
